body {
  font-family: sans-serif;
  background-color: #666;
}

h1 {
  margin-bottom: 10px;
  text-align: center;
  font-size: 3em;
  line-height: 1em;
}

#hand {
  height: 20px;
  width: 80px;
  margin: 0 auto;
  margin-bottom: 10px;
  border: 2px solid blue;
  background-color: #DDD;
}

#board {
  height: 600px;
  width: 600px;
  margin: 0 auto;
  border: 2px solid black;
  background-color: #EEE;
}

.space {
  margin: -1px -1px -1px -1px;
  float: left;
}

.hand-tile {
  font-size: .5em;
}
